.navbar-default{
    background-color: #917067!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #80635B!important;
}
.contact-details.dark {
    background: #917067 !important;
}
.contact-details {
    background: #917067 !important;
}
